[data-theme='dark'] {
  --bg-color: #1a1b1e;
}
[data-theme='light'] {
  --bg-color: #ffffff;
}
[data-theme='sepia'] {
  --bg-color: #f6f1ea;
}
:root {
  background-color: var(--bg-color);
}

.welcome__group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.welcome__title {
  font-size: calc(1rem + 8vw);
}
.welcome__subtitle > div {
  font-size: calc(1rem + 2vw);
}
.welcome__subtitle {
  display: flex;
  margin-left: 25%;
}

@media only screen and (max-width: 600px) {
  .welcome__title {
    font-size: calc(1rem + 12vw);
  }
  .welcome__subtitle {
    flex-direction: column;
    margin-left: unset;
  }
}

@media only screen and (max-height: 400px) {
  .welcome__group {
    top: 60px;
    transform: translateX(-50%);
  }
  .welcome__title {
    font-size: calc(1rem + 6vw);
    font-weight: bold;
  }
  .welcome__subtitle {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
  }
}

.header {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 6;
  position: fixed;
}

.paper_full-height {
  min-height: 100vh;
}
/* Safari only CSS hack */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .paper_full-height {
      min-height: -webkit-fill-available;
    }
  }
}

.home__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
}
.home__arrow {
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: linear;
}
.home__arrow.home__arrow_second {
  margin-right: -8px;
  animation-delay: 0.2s;
}
@keyframes example {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  /* from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(10px);
  } */
}

.link__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link__content img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.link_light .link__content pre {
  padding: 16px;
  border-radius: 4px;
  background-color: #eeeeee;
}
.link_dark .link__content pre {
  padding: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
}
